header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgb(245, 75, 75);
    padding: 10px;
}

#my-pic {
    width:100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.nav-menu {
    display: flex;
    align-items: end;
}

.nav-menu ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-menu li {
    margin-right: 40px;
    padding-right: 5px;
    border-right-style: solid;
    border-right-width: 1px;
}
