body{
    background-color: #00001b;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
}

#my-pic {
    width:100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.nav-menu {
    display: flex;
    align-items: end;
    background-color: #ffd700;
}

.nav-menu ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-menu li {
    margin-right: 40px;
    padding-right: 5px;
    border-right-style: solid;
    border-right-width: 1px;
}
a{
    text-decoration: none;
    color: white;
}

#specificationModal{
    display: none;
    order: 1;
    flex-basis: 50%;
    margin-right: 10px;

}

.screen{
    width: 300px;
    height: 400px;
    object-fit: cover;
}

#creations{
    display: flex;
    justify-content: space-between;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.case{
    border-radius: 8px;
    border: 2px solid #ffd700;
    background-color: rgba(0, 17, 255, 0.082);
    color: white;
}

.form-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.space{
    margin-right: 10px;
}

button{
    color: white;
    background-color: #00001b;
    border: 2px solid #ffd700;
    border-radius: 30px;
    box-shadow: #ffd700 4px 4px 0 0;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 18px;
}

button:hover{
    background-color: white;
}
